        
        
        <form method="POST" action="/galleries">
            <label for="title">Give your gallery a name</label>
            <input name="title" label="title" type="text" required>

            <label for="keyword_1">Keyword 1</label>
            <input name="keyword_1" label="first-keyword" type="text" required>

            <label for="keyword_2">Keyword 2</label>
            <input name="keyword_2" label="second-keyword" type="text" required>

            <button type="submit">Submit</button>

        </form>